<!-- Modal - render at bottom of page -->
<div id="ajax-img-upload" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Image</h4>
      </div>
      <div class="modal-body">
        <div class="s3-ajax-uploader">
          <input type="hidden" class="s3-ajax-uploader" id="upload-group">
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                  Select Image(s) <input type="file" name="file" id="s3-ajax-html5-file-input-multiple" multiple>
              </span>
            </span>
            <input type="text" id="s3-image-uploader-filename" class="form-control s3-image-uploader" readonly>
            <span class="input-group-btn">
              <input type="button" id="s3-image-uploader-submit-btn" class="btn btn-primary" name="submit" value="Upload Image" disabled="disabled" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form class="s3-ajax-uploader" style="visibility: hidden;" action="<%= @s3_post_data.url %>" method="post" enctype="multipart/form-data">
  <% @s3_post_data.fields.each do |name, value| %>
    <input type="text" name="<%= name %>" value="<%= value %>"/>
  <% end %>
  <input type="file" name="file" id="s3-ajax-html5-file-input">
</form>

<script type="text/javascript" src="/assets/upload_ajax.js"></script>
<link rel="stylesheet" href="/assets/upload_ajax.css" media="screen" title="no title" charset="utf-8">
