<style media="screen">
  span.btn-file {
    position: relative;
    overflow: hidden;
  }
  span.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  div.s3-ajax-uploader.image-container {
    text-align: center;
    padding: 1em;
  }
  div.s3-ajax-uploader.image-container img {
    text-align: center;
    max-width: 100%;
  }
</style>

<div class="s3-ajax-uploader container">
  <div class="s3-ajax-uploader image-container">
  </div>
  <div class="s3-ajax-uploader form">
    <form class="AjaxImageUploadS3"  action="<%= @s3_postData.url %>" method="post" enctype="multipart/form-data">
      <% @s3_postData.fields.each do |name, value| %>
        <input type="hidden" name="<%= name %>" value="<%= value %>"/>
      <% end %>
      <div class="form-group col-sm-4">
        <span class="form-control btn btn-primary btn-file">
            Browse <input type="file" name="file">
        </span>
      </div>
      <div class="form-group col-sm-4" style="text-align: center;">
        <label for="file"></label>
      </div>
      <div class="form-group col-sm-4">
        <input type="submit" class="form-control btn btn-primary" name="submit" value="Upload Image" disabled="disabled" />
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $.support.cors = true;

  $(document).ready(function() {
    // make file select trigger an event on select
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [numFiles, label]);
    });

    // update label when a file is chosen, and enable the upload button
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
      $("label[for='file']").text(label);
      if (label === '') {
        $('input[type="submit"][value="Upload Image"]').prop('disabled', true);
      } else {
        $('input[type="submit"][value="Upload Image"]').prop('disabled', false);
      }
    });

    $('form.AjaxImageUploadS3').submit(function(event) {
      event.preventDefault();

      // collect form data from form
      var formData = new FormData($(this)[0]);
      var imgContainer = $("div.s3-ajax-uploader.image-container");
      imgContainer.html('<img src="/assets/ajax-loader.gif" alt="loading.." />');
      console.log("submitting image upload..")
      var startTimer = new Date();
      var jqxhr = $.ajax({
        url         : $(this).attr('action'),
        type        : $(this).attr('method'),
        contentType: false,
        processData: false,
        data        : formData})
      .done(function( data, textStatus, jqXHR ) {
        console.log('AJAX image upload done');
        var image_name = $("label[for='file']").text()
        var image_path = decodeURIComponent(jqXHR.getResponseHeader('Location'));
        imgContainer.html('<img src="' + image_path + '" alt="' + image_name + '" />');
        console.log('URL to image: ' + image_path);
        $("#photo_remote_image_url").val(image_path);
        $("#photo_image").val(image_name);
        var stopTimer = new Date();
        console.log("upload took approx. " + (stopTimer - startTimer) / 1000 + " seconds.");
      })
      .fail(function( jqXHR, textStatus, errorThrown ) {
        alert('AJAX image upload error');
        console.log(textStatus + "\n" + errorThrown);
      })
      .always(function( jqXHR, textStatus, errorThrown ) {
        console.log('AJAX image upload complete');
        $('input[type="submit"][value="Upload Image"]').prop('disabled', true);
      });
      return false;
    });
  });

</script>
